.leader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-Btn {
    align-self: flex-end;
}

table {
    border: 1px solid rgb(190, 190, 190);
    border-collapse: collapse;
    border-radius: 10px;
    display:block; 
    font-family: sans-serif;
    font-size: 2rem;
    height: 50vh; 
    letter-spacing: 1px;
    overflow-y:scroll; 
    width: fit-content;
}

thead {
    background-color: rgb(8, 189, 189);
    color: #fff;
    position: sticky;
    top: 0;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
    color: rgb(8, 189, 189);
}

tbody tr:nth-child(odd) {
    background-color: #fff;
    color: rgb(8, 189, 189);
}