:root {
  --bg-color: #fff;
}

[data-theme="dark"] {
  --bg-color: #323232;
}

.App {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}



