.modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9001;
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}
  
.modal-main {
    background-color: white;
    left: 50%;
    line-height: 2rem;
    padding: 32px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    border-radius: 5%;
}

.modal-main > h2 {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.close-Btn {
    float: right;
    font-size: 2rem;
}

.close-Btn:hover {
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 600px) {
    .modal-main {
        width: 90%;
    }
}
    
