.base {
  background-color: rgb(8, 189, 189);
  border-radius: 10px;
  border: none;
  width: 20%;
}

.base[fade='1'] {
  animation: fadeIn 1s 1;
}

.base[fade='2'] {
  animation: fadeOut 2.5s 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
    transform: scale(0);
    color: rgb(8, 189, 189);
  }
  40% {
    opacity: 100%;
    transform: scale(1);
    color: rgb(8, 189, 189);
  }
  100% {
    opacity: 100%;
    color: black;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
    transform: scale(1);
  }
  100% {
    opacity: 0%;
    transform: scale(0);
  }
}

.fadeOut {
  background-color: black;
}

.base:hover {
  background-color: rgb(8, 140, 140);
	transform: scale(1.2);
}

.correct {
  background-color: rgb(8, 189, 189);
  border-radius: 10px;
  border: none;
  width: 20%;
  animation: jiggle 2.5s;
}

@keyframes jiggle {
  0% {
    background-color: rgb(8, 189, 189);
  }
  40% {
    background-color: rgb(8, 189, 189);
  }
  50% {
    transform: translate(0vw, -10vh) scale(1.5);
    background-color: rgb(41, 191, 18);
  }
  65% {
    transform: translate(0vw, -10vh) scale(1.5) rotate(360deg);
  }
  85% {
    background-color: rgb(41, 191, 18);
    transform: rotate(360deg);
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: rotate(360deg) scale(0);
  }
}

.incorrect {
  background-color: rgb(8, 189, 189);
  border-radius: 10px;
  border: none;
  width: 20%;
  animation: drop 2.5s;
}

@keyframes drop {
  0% {
    background-color: rgb(8, 189, 189);
  }
  40% {
    background-color: rgb(8, 189, 189);
  }
  50% {
    transform: translate(0vw, -10vh) scale(1.5);
    background-color: rgb(242, 27, 63);
  }
  100% {
    background-color: rgb(242, 27, 63);
    transform: translate(5vw, 100vh) rotate(180deg);
  }
}

.choices-container {
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 10%;
}

.card {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

audio {
  padding-bottom: 10%;
  width: 75%;
}

@media screen and (max-width: 700px) {
  .choices-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items:  center;
    width: 80%;
  }

  .base {
    width: 80%;
    height: 20%;
  }

  .card {
    justify-content: center;
    width: 100%;
  }
  }