
.base {
  background-color: rgb(8, 189, 189);
  border-radius: 10px;
  border: none;
  width: 20%;
}

.base:hover {
  background-color: rgb(8, 140, 140);
}

.correct {
  background-color: rgb(41, 191, 18);
  border-radius: 10px;
  border: none;
  width: 20%;
}

.incorrect {
  background-color: rgb(242, 27, 63);
  border-radius: 10px;
  border: none;
  width: 20%;
}

.game-card-container {
  height: 50%;
  width: 50%;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choices-container {
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 10%;
}

audio {
  padding-bottom: 10%;
  width: 75%;
}