.header {
  align-items: center;
  background-color: #fff;
  border-bottom: solid black 1px;
  display: flex;
  height: 14vh;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.title-container {
  display: flex;
  align-content: center;
  text-decoration: none;
  color: black;
  left: 50%;
  top: 19%;
  margin: 0;
  position:absolute;
  transform: translateX(-50%);
}

.modal-icons-container {
  align-items: center;
  display: flex;
}

.modal-button {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-button:hover {
  cursor: pointer;
  transform: scale(1.1)
}

@media screen and (max-width: 600px) {
  .header{
    justify-content: space-between;
  }

  .title-container {
    position:relative;
    transform: scale(0.9);
  }

  .title {
    display: none;
  }

  .modal-button {
    transform: scale(0.9);
  }
}