.endgame-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10% 10%;
}

.text {
  font-size: x-large;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10% 5%;
}

input {
  font-size: large;
  height: 5vh;
  margin: 5%;
  width: 17vw;
}

.submit {
  background-color: #08BDBD;
  border: none;
  height: 6vh;
  width: 7vw;
}